In [3]:
import pandas as pd

In [6]:
s = pd.Series((list('jknkmnkljnkhjgjbjmnknkmpm')))
s

0     j
1     k
2     n
3     k
4     m
5     n
6     k
7     l
8     j
9     n
10    k
11    h
12    j
13    g
14    j
15    b
16    j
17    m
18    n
19    k
20    n
21    k
22    m
23    p
24    m
dtype: object

In [7]:
s.unique()

array(['j', 'k', 'n', 'm', 'l', 'h', 'g', 'b', 'p'], dtype=object)

In [8]:
s.value_counts()

k    6
j    5
n    5
m    4
b    1
h    1
l    1
g    1
p    1
dtype: int64

In [10]:
dados = pd.read_csv('dados/aluguel.csv', sep=";")
dados.head(3)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento

In [12]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [13]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64